/*---------- 
    Main Body 
----------*/

body {
    background-color: #f6f6f2;
    color: #6fb3b8;
    font-family: 'Roboto', sans-serif;
}
.btn-submit {
    color: #388087;
    border-color: #388087;
}
.btn-submit:hover {
    color: white;
    background-color: #6fb3b8;
    border-color: #388087;
}

/* Spacings used to replace depreciated <br> HTML tag */
.br-1 {
    margin-bottom: 1em;
}
.br-2 {
    margin-bottom: 2em;
}
.br-4 {
    margin-bottom: 4em;
}
.br-4t {
    margin-top: 4em;
}

/*---------- 
    Header and Nav-bar 
----------*/

.nav-logo {
    font-family: 'Lobster', cursive;
    font-size: 55px;
    color: #388087;
}
.nav-logo:hover {
    font-family: 'Lobster', cursive;
    font-size: 55px;
    color: #6fb3b8;
}
/*---------- 
    Table 
----------*/

.table-column-head{
    font-weight: bold;
}
.thead-theme {
    background-color: #6fb3b8;
    color: white;
}
.table {
    background-color: #badfe7;
    font-family: 'Roboto', sans-serif;
}
.btn-dropdown {
    background-color: #388087;
    color: white;
}
.btn-dropdown:hover {
    color: white;
    background-color: #6fb3b8;
    border-color: #388087;
}
.axle-subtitle {
    color: #388087;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------- 
    Footer 
----------*/

footer {
    color: #388087;
    font-family: 'Roboto', sans-serif;
    padding: 1.5rem;
}

/*----------  
    Optimisation for Various Screen Sizes 
----------*/

@media screen and (min-width: 996px) {
    .table-no-underline {
        border-bottom: None;
    }
    .orientations {
        width: 107px;
    }
    table.alignment td {
        border-right: 2px solid darkgrey;
    }
    .maxwidth-empty-second {
        width: 107px;
    }
    .target {
        width: 250px;
    }
    .noRightBorder {
        border-right: None;
    }
}

@media screen and (max-width: 995px) {

    .bottomTD{
        border-bottom: none;
    }
    .underPadding {
        padding-bottom: 30px;
    }
    table thead {
        display: None;
    }
    table tr {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
    }
    table td {
        border-right: none;
        border-top: 1px solid darkgrey;
        display: block;
        position: relative;
        padding-bottom: 10px;
    }
    .table td, .table th {
        padding-top: 1.5rem;
    }
    table td:first-child {
        border-right: none;
        border-top: None;
    }
    table td:before {
        border-right: none;
        display: block;
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        top: 5px;
        left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }
    table td:after{
        padding-bottom: 10px;
    }
    .background{
        background-color: #6fb3b8;
    }
    .noShow {
        display: None;
    }
}
